.text__area {
   background-attachment: local;
   background-image: linear-gradient(to right, #eaf4f1 10px, transparent 10px),
      linear-gradient(to left, #eaf4f1 10px, transparent 10px),
      repeating-linear-gradient(#eaf4f1, #eaf4f1 30px, #808080 30px, #ccc 31px, white 31px);
   line-height: 31px;
   padding: 5px 0;
   margin-top: 0;
   padding-left: 10px;
}
