.emoji__picker {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.selected__emoji {
   font-size: 22px;
   font-family: sans-serif;
   background-color: #f2f2f2;

   border-radius: 50%;
}
.emoji__list {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   background-color: #f2f2f2;
   padding: 8px;
   border-radius: 10px;
}
.emoji__item {
   font-size: 22px;
   font-family: sans-serif;
   padding: 8px;
   cursor: pointer;
}

.selected__emojis {
   display: flex;
   flex-wrap: wrap;
}
