.emojiContainer {
   display: flex;
}

.emoji {
   font-size: 50px;
   margin: 1.3vw;
   padding: 0.3vw;
   cursor: pointer;
   transition: transform 0.2s;
   background-color: transparent;
}

.hovered {
   transform: scale(1.5);
   background: var(--slate-600, #475569);
   border-radius: 16px;
}

@media (width <= 480px) {
   .emoji {
      font-size: 42px;
      border-radius: 2px;
      margin: 2.2vw;
      padding: 0.2vw;
   }
}

@media (481px <= width <= 640px) {
   .emoji {
      font-size: 46px;
      border-radius: 10px;
   }
}

@media (641px <= width <= 768px) {
   .emoji {
      font-size: 55px;
      border-radius: 12px;
      margin: 2vw;
      padding: 0.2vw;
   }
}

@media (769px <= width <= 1024px) {
   .emoji {
      font-size: 55px;
      border-radius: 14px;
      margin: 1.7vw;
      padding: 0.3vw;
   }
}

@media (1025px <= width <= 1280px) {
   .emoji {
      font-size: 55px;
      border-radius: 16px;
   }
}

@media (1281px <= width <= 1536px) {
   .emoji {
      font-size: 55px;
      border-radius: 16px;
   }
}

@media (1537px <= width) {
   .emoji {
      font-size: 55px;
      border-radius: 18px;
   }
}
