.emoji__picker {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.emoji__list {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   background-color: #f2f2f2;
   padding: 8px;
   border-radius: 10px;
}

.emoji__item {
   font-size: 22px;
   box-sizing: border-box;
   padding: 1px;
   cursor: pointer;
   border: 1px solid transparent;
   border-radius: 5px;
   margin: 1px;
}

.emoji__item.selected {
   border-color: #1f2937;
   background-color: white;
}
