.emojiBoxNotSelected{
    background-color: var(--paleblue);
}

.emojiBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    border-radius: 20%;
    background-color: var(--paleblue);
    margin: 0.2vw;
    text-align: center;
    transition: background-color 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
    cursor: pointer;
}

.emojiBoxSelected{
    width: 65px;
    height: 65px;
    background-color: var(--steelblue);
    color: var(--secondary);
}

.emoji{
    font-size: var(--large);
}

.text{
    font-size: var(--tiny);
}