.emojiTray {
   display: flex;
   align-items: center;
   margin: 1vh 10px;
   height: 75px;
}

.greeting {
   color: var(--slateblue);
   font-weight: 600;
   font-size: var(--large);
   margin: 1vh 10px;
}

.question {
   font-weight: 600;
   font-size: var(--medium);
   margin: 1vh 10px;
}
