@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
* {
   font-family: 'Roboto Mono', monospace;
}

/* button:focus {
   border: none;
} */

a:hover {
   cursor: pointer;
}
