@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
* {
   font-family: 'Roboto Mono', monospace;
}

body{
   background-color: var(--primary);
   padding: 0 15vw;
}

a:hover {
   cursor: pointer;
}
