.mainContainer {
   display: grid;
   height: 100vh; /* Set mainContainer to full viewport height */
   width: 100vw;
   position: absolute;
   left: 0;
}

.leftContainer {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   position: relative;
   background: linear-gradient(to right, #eaf4f1, #4a807000);
   padding: 40px;
   height: 100%;
}

.logoContainer {
   display: flex;
   gap: 0.5rem;
}

.animatedTyping {
   color: var(--slate-800, #202835);
   font-size: 48px;
   font-style: normal;
   font-weight: 700;
   line-height: 48px;
   letter-spacing: -2px;
}

.rightContainer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100%;
   padding: 20px;
}

.googleButton,
.facebookButton {
   width: 100%;
   margin-bottom: 10px;
}

.logoName {
   color: var(--slate-800, #202835);
   font-family: 'Roboto Mono', monospace;
   font-size: 48px;
   font-style: normal;
   font-weight: 800;
   line-height: 48px;
   letter-spacing: -9px;
}

.bottomParagraph {
   letter-spacing: -1.5px;
}

@media (width <= 380px) {
   .emojiPopupContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .mainContainer {
      grid-template-columns: 1fr;
   }

   .rightContainer {
      justify-content: flex-start;
   }

   .leftContainer {
      background: linear-gradient(to bottom, #eaf4f1, #4a807000);
      padding: 20px;
   }

   .animatedTyping {
      font-size: 28px;
   }
}

@media (381px <= width <= 480px) {
   .emojiPopupContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .mainContainer {
      grid-template-columns: 1fr;
   }

   .rightContainer {
      justify-content: flex-start;
   }

   .leftContainer {
      background: linear-gradient(to bottom, #eaf4f1, #4a807000);
      padding: 20px;
   }

   .animatedTyping {
      font-size: 30px;
   }
}

@media (481px <= width <= 639px) {
   .emojiPopupContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .mainContainer {
      grid-template-columns: 1fr;
   }

   .rightContainer {
      justify-content: flex-start;
   }

   .leftContainer {
      background: linear-gradient(to bottom, #eaf4f1, #4a807000);
      padding: 20px;
   }

   .animatedTyping {
      font-size: 36px;
   }
}

@media (640px <= width <= 767px) {
   .mainContainer {
      grid-template-columns: 1fr;
   }

   .leftContainer {
      background: linear-gradient(to bottom, #eaf4f1, #4a807000);
      padding: 40px;
   }

   .animatedTyping {
      font-size: 36px;
   }
}

@media (768px <= width <= 1023px) {
   .mainContainer {
      grid-template-columns: 1fr;
   }

   .leftContainer {
      background: linear-gradient(to bottom, #eaf4f1, #4a807000);
      padding: 40px;
   }

   .animatedTyping {
      font-size: 38px;
   }
}

@media (1024px <= width <= 1279px) {
   .mainContainer {
      grid-template-columns: 5fr 4fr;
   }

   .leftContainer {
      padding: 60px;
   }

   .animatedTyping {
      font-size: 40px;
   }
}

@media (1280px <= width <= 1535px) {
   .mainContainer {
      grid-template-columns: 5fr 4fr;
   }

   .leftContainer {
      padding: 70px;
   }
}

@media (1536px <= width) {
   .mainContainer {
      grid-template-columns: 5fr 4fr;
   }

   .leftContainer {
      padding: 80px;
   }
}
