/* Define CSS styles for the layout */
.mainContainer {
   display: grid;
   height: 100vh; /* Set mainContainer to full viewport height */
   width: 100vw;
   position: absolute;
   left: 0;
}

.leftContainer {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   position: relative;
   /* Apply the gradient background */
   background: linear-gradient(to right, #dfffd7, rgba(74, 128, 112, 0));
   padding: 40px; /* Add the desired padding (reduced padding for all screen sizes) */
   height: 100%; /* Set leftContainer to take full height */
}

.rightContainer {
   height: 100%; /* Set rightContainer to take full height */
}

.animatedTyping {
   color: var(--slate-800, #202835);
   font-size: 48px;
   font-style: normal;
   font-weight: 800;
   line-height: 48px; /* 100% */
   letter-spacing: -0.576px;
}

.rightContainer {
   display: flex;
   flex-direction: column;
   justify-content: center; /* Center items vertically */
   align-items: center; /* Center items horizontally */
   height: 100%; /* Set rightContainer to take full height */
   padding: 20px;
}
.googleButton,
.facebookButton {
   width: 100%; /* Set buttons to full width */
   margin-bottom: 10px; /* Optional: Add some space between buttons */
}

.logoName {
   color: var(--slate-800, #202835);
   font-size: 48px;
   font-style: normal;
   font-weight: 800;
   line-height: 48px; /* 100% */
   letter-spacing: -6px;
}

.bottomParagraph {
   letter-spacing: -1.5px;
}

/* Extra small screen size (up to 639px) */
@media (max-width: 639px) {
   .mainContainer {
      grid-template-columns: 1fr;
   }

   .rightContainer {
      justify-content: flex-start;
   }
   .leftContainer {
      background: linear-gradient(to bottom, #dfffd7, rgba(74, 128, 112, 0));
      padding: 20px; /* Adjusted padding for extra small screens */
   }

   .animatedTyping {
      font-size: 32px;
   }
}

/* Small screen size (640px - 767px) */
@media (min-width: 640px) and (max-width: 767px) {
   .mainContainer {
      grid-template-columns: 1fr;
   }

   .leftContainer {
      background: linear-gradient(to bottom, #dfffd7, rgba(74, 128, 112, 0));
      padding: 30px; /* Adjusted padding for small screens */
   }

   .animatedTyping {
      font-size: 36px;
   }
}

/* Medium screen size (768px - 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
   .mainContainer {
      grid-template-columns: 1fr;
   }

   .leftContainer {
      background: linear-gradient(to bottom, #dfffd7, rgba(74, 128, 112, 0));
      padding: 40px; /* Adjusted padding for medium screens */
   }

   .animatedTyping {
      font-size: 38px;
   }
}

/* Large screen size (1024px - 1279px) */
@media (min-width: 1024px) and (max-width: 1279px) {
   .mainContainer {
      grid-template-columns: 5fr 4fr;
   }

   .leftContainer {
      padding: 60px; /* Adjusted padding for large screens */
   }

   .animatedTyping {
      font-size: 40px;
   }
}

/* Extra large screen size (1280px - 1535px) */
@media (min-width: 1280px) and (max-width: 1535px) {
   .mainContainer {
      grid-template-columns: 5fr 4fr;
   }

   .leftContainer {
      padding: 70px; /* Adjusted padding for extra large screens */
   }
}

/* 2XL screen size (1536px and above) */
@media (min-width: 1536px) {
   .mainContainer {
      grid-template-columns: 5fr 4fr;
   }

   .leftContainer {
      padding: 80px; /* Adjusted padding for 2XL screens */
   }
}
