.mainContainer {
   display: grid;
   height: 100vh; /* Set mainContainer to full viewport height */
   width: 100vw;
   position: absolute;
   left: 0;
}

.leftContainer {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   position: relative;
   background: linear-gradient(to right, #dfffd7, rgba(74, 128, 112, 0));
   padding: 40px;
   height: 100%;
}

.rightContainer {
   height: 100%;
}

.animatedTyping {
   color: var(--slate-800, #202835);
   font-size: 48px;
   font-style: normal;
   font-weight: 800;
   line-height: 48px;
   letter-spacing: -2px;
}

.rightContainer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100%;
   padding: 20px;
}

.googleButton,
.facebookButton {
   width: 100%;
   margin-bottom: 10px;
}

.logoName {
   color: var(--slate-800, #202835);
   font-size: 48px;
   font-style: normal;
   font-weight: 800;
   line-height: 48px;
   letter-spacing: -6px;
}

.bottomParagraph {
   letter-spacing: -1.5px;
}

@media (max-width: 400px) {
   .emojiPopupContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   .mainContainer {
      grid-template-columns: 1fr;
   }

   .rightContainer {
      justify-content: flex-start;
   }
   .leftContainer {
      background: linear-gradient(to bottom, #dfffd7, rgba(74, 128, 112, 0));
      padding: 20px;
   }

   .animatedTyping {
      font-size: 32px;
   }
}

@media (min-width: 401px) and (max-width: 480px) {
   .emojiPopupContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   .mainContainer {
      grid-template-columns: 1fr;
   }

   .rightContainer {
      justify-content: flex-start;
   }
   .leftContainer {
      background: linear-gradient(to bottom, #dfffd7, rgba(74, 128, 112, 0));
      padding: 20px;
   }

   .animatedTyping {
      font-size: 36px;
   }
}

@media (min-width: 481px) and (max-width: 639px) {
   .emojiPopupContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   .mainContainer {
      grid-template-columns: 1fr;
   }

   .rightContainer {
      justify-content: flex-start;
   }
   .leftContainer {
      background: linear-gradient(to bottom, #dfffd7, rgba(74, 128, 112, 0));
      padding: 20px;
   }

   .animatedTyping {
      font-size: 36px;
   }
}
@media (min-width: 640px) and (max-width: 767px) {
   .mainContainer {
      grid-template-columns: 1fr;
   }

   .leftContainer {
      background: linear-gradient(to bottom, #dfffd7, rgba(74, 128, 112, 0));
      padding: 40px;
   }

   .animatedTyping {
      font-size: 36px;
   }
}

@media (min-width: 768px) and (max-width: 1023px) {
   .mainContainer {
      grid-template-columns: 1fr;
   }

   .leftContainer {
      background: linear-gradient(to bottom, #dfffd7, rgba(74, 128, 112, 0));
      padding: 40px;
   }

   .animatedTyping {
      font-size: 38px;
   }
}

@media (min-width: 1024px) and (max-width: 1279px) {
   .mainContainer {
      grid-template-columns: 5fr 4fr;
   }

   .leftContainer {
      padding: 60px;
   }

   .animatedTyping {
      font-size: 40px;
   }
}

@media (min-width: 1280px) and (max-width: 1535px) {
   .mainContainer {
      grid-template-columns: 5fr 4fr;
   }

   .leftContainer {
      padding: 70px;
   }
}

@media (min-width: 1536px) {
   .mainContainer {
      grid-template-columns: 5fr 4fr;
   }

   .leftContainer {
      padding: 80px;
   }
}
