.navBar{
    display: flex;
    z-index: 100;
    justify-content: space-between;
    padding: 0.2vh 15vw;
    align-items: center;
    height: 8vh;
    background-color: var(--secondary);
    font-size: var(--small);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.logoAndLinks{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    height:4vh;
    display: flex;
    align-content: center;
    margin: 0 1vw;
}

.links{
    display: flex;
    align-items: center;
}

.link{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 0.5vw;
}