:root {
   --primary: #eaf4f1;
   --secondary: #fff;
   --paleblue: #e2e8f0;
   --steelblue: #475569;
   --slateblue: #94a3b8;
   --darkbluegray: #1f2937;
   --tiny: 0.7rem;
   --small: 0.95rem;
   --smallmedium: 1.05rem;
   --medium: 1.2rem;
   --mediumlarge: 1.35rem;
   --large: 1.5rem;
   --xl: 1.87rem;
}
